<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TurnosDb"
			 connectionString="Host=localhost
			 ;Port=5432;Database=mi_database;Username=pgp_app_user;Password=mi_password;Pooling=true;Maximum Pool Size=100;Timeout=15;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>
